body {
  background: #efdec1;
  font-family: Verdana, sans-serif;
  text-align: center;
}

.container {
  position: relative;
}

.container p {
  font-size: 35px;
  margin-top: 40px;
}

.container img {
  position: absolute;
  top: 206px;
  left: 39%;
  margin: 0 auto;
}

#choices {
  padding: 0;
}

#choices li {
  list-style: none;
  font-weight: bold;
  font-size: 35px;
  cursor: pointer;
  padding: 20px 0;
  background-color: chartreuse; 
  border: solid 5px black;
}



#choices li.correct {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-weight: bold;
}

#choices li.wrong {
  background: #f8d8da;
  border-color: #f5c6cb;
  color: #721c24;
  font-weight: bold;
}

#btn {
  background: #3498db;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 #2880b9;
}

#result {
  position: relative;
  top: -330px;
  background-color: azure;
  height: 123px;
  width: 390px;
  margin: 0 auto;
  background-color: coral;
}

#result > a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  border: solid, 5px,black;
}

.hidden {
  transform: translateY(-800px);
}
